In [1]:
for i in range (10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [2]:
i = 0

while i < 10:
    print(i)
    i += 1

    if i==5:
        break

0
1
2
3
4

In [6]:
names = ["ram", "shyam", "sita"]
for name in names:
    print(name)

ram
shyam
sita

In [9]:
# Input: N natural numbers
N = int(input("Enter the value of N: "))

# Initialize variables
i = 1
total_sum = 0

# While loop to calculate sum
while i <= N:
    total_sum += i
    i += 1

# Display result
print("The sum of the first", N, "natural numbers is:", total_sum)

Enter the value of N:  2

The sum of the first 2 natural numbers is: 3

In [17]:
# Input: N natural numbers
N = int(input("Enter the value of N: "))

# Initialize variables
i = 1
total_prod = 1

# While loop to calculate sum
while i <= N:
    total_prod = total_prod *i
    i += 1

# Display result
print("The mul of the first", N, "natural numbers is:", total_prod)

Enter the value of N:  5

The mul of the first 5 natural numbers is: 120

comprehension

count number of letters for each words in following sentence