Multiple

In [1]:
person = {
    "name" : "vince",
    "age" : "30",
    "gender" : "male"
}
person_list = list(person.items())
person_list

[('name', 'vince'), ('age', '30'), ('gender', 'male')]

In [2]:
for each in person_list:
    print(each)

('name', 'vince')
('age', '30')
('gender', 'male')

In [3]:
for (key,value) in person_list:
    print(f"key:{key}={value}")

key:name=vince
key:age=30
key:gender=male

In [8]:
cord=[[1,2,3],[4,5,6],[2,4,9]]
print (cord)

[[1, 2, 3], [4, 5, 6], [2, 4, 9]]

In [9]:
for (x,y,z) in cord:
    print (x,y,z)

1 2 3
4 5 6
2 4 9

Display the Multipication Table

In [ ]:
i = int (input("Enter a number"))
for x in range (1,11):
    print(f"{i}*{x} = {x*i}")

Odd and Even

In [21]:
# Given list of numbers
number = [2, 15, 63, 5, 8, 9, 23, 14, 16, 45, 162]

# Separate into even and odd
even_numbers = []
odd_numbers = []

for num in number:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Display the results
print("Even Numbers:", even_numbers)
print("Odd Numbers:", odd_numbers)

Even Numbers: [2, 8, 14, 16, 162]
Odd Numbers: [15, 63, 5, 9, 23, 45]

In [ ]:
odd,even=[],[]
number = [2, 15, 63, 5, 8, 9, 23, 14, 16, 45, 162]
for num in number:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

print(f"Even Numbers are:{even}")
print(f"Odd Numbers are:{odd}")

while loop

In [ ]:
i = 0

while i < 5:
    print(i)
    i += 1

break statement

In [ ]:
i = 0

while i < 10:
    print(i)
    i += 1

    if i==5:
        break

In [ ]:
for i in range (10):
    print(i)
    if i==5:
        break